{% extends 'layout.html' %} {% block title %}Pocket Stats{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Pocket Stats</h1>
            <p class="lead">Some insights from your Pocket reading habits.</p>
            {% if !user %}
            <p><a class="btn btn-primary btn-lg" href="/auth/pocket">Login with your Pocket Account</a>
            </p>
            {% else %}

            <div id="articlepie"></div>
            <script>
            d3.json('data/{{user.username}}.json', function(data) {

                var ndx = crossfilter(data);
                var all = ndx.groupAll();
                var read = ndx.dimension(function(d) {
                    return d.time_added;
                });
                var readGroup = read.group().reduceSum(function(d) {
                    return d.status == 0 ? 'unread' : 'read';
                });
				console.log(read);
                console.log(readGroup);
                var articlePie = dc.pieChart("#articlepie");
                articlePie.width(200)
                    .height(200)
                    .radius(80)
                    .innerRadius(30)
                    .dimension(read)
                    .group(readGroup);
                 dc.renderAll();
            });
            </script>
            <!--
				{% for item in items.list %}
					{% if loop.first %}<ul>{% endif %}
					<li>{{ loop.index }} - 
					{% if !item.given_title %}
						{{ item.resolved_url }} - {{ item.status }} 
					{% else %}	
						{{ item.resolved_title }} - {{ item.status }} 
					{% endif %}
					</li>
					{% if loop.last %}</ul>{% endif %}
				{% endfor %}
			-->
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
