{% extends 'layout.html' %} {% block title %}Pocket Stats{% endblock %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1>Pocket Stats</h1>
            <p class="lead">Some insights from your Pocket reading habits.</p>
            {% if !user %}
            <p><a class="btn btn-primary btn-lg" href="/auth/pocket">Login with your Pocket Account</a>
            </p>
            {% else %}
        </div>
        <script>
            d3.json('data/{{user.username}}.json', function(data) {
                var articles = crossfilter(data);
                // Divide between read and unread articles
                var readUnread = articles.dimension(function(d) {
                    return d.status == 0 ? 'Unread' : 'Read';
                });
                var readGroup = readUnread.group();
                // Date dimension 
                var dates = articles.dimension(function(d){
                	return d.time_added
                	
                });
                var added = dates.group().reduceSum(function(d){
                	if(d.time_read != 0 && d.time_read != d.time_added)  {
                		return	0;
                	}
                	if(d.time_read != 0 && d.time_read == d.time_added)  {
                		return -1; 
                	}
                	if(d.time_read != 0 && d.time_added != 0)  {
                		return 1;
                	}
                });


                var minDate = dates.bottom(1)[0].time_added;
    			var maxDate = dates.top(1)[0].time_added;

                var readPie = dc.pieChart("#readPie");
                var readBar = dc.barChart("#readBar");

                readPie.width(200)
                    .height(200)
                    .radius(80)
                    .innerRadius(30)
                    .dimension(readUnread)
                    .group(readGroup);

                readBar.width(400)
	                .height(180)
	                .dimension(dates)
	                .group(added)
	                .x(d3.time.scale().domain([minDate, maxDate]))
	                .xUnits(d3.time.days)
	                .renderHorizontalGridLines(true)
	                .centerBar(true)
		            .elasticY(true)
		            .brushOn(false);

	            dc.renderAll();
            });
            </script>
        <div class="col-xs-6">
            <div id="readPie"></div>
        </div>    
		<div class="col-xs-6">
    		<div id="readBar"></div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}
